{{ if .Params.tabnews }}
  <div style="border-top:0.4rem dotted var(--bordercl)">
  {{ $tabnews := print "https://www.tabnews.com.br/api/v1/contents/" .Params.tabnews "/children"}}
  {{ $resposta := getJSON $tabnews}}
  {{ if $resposta}}
    <h1 style="text-align:center">Comentarios</h1>
    {{ range $comentario := $resposta}}
      {{- partial "umComentario.html" (merge $comentario (dict "camada" 0)) -}}
    {{end}}
    <h2>Para melhor experiência, acesse a postagem no <a href='{{print "https://www.tabnews.com.br/" .Params.tabnews}}'>tabnews</a>!</h2>
    <p>
      Lá você poderá interagir com a publicação, e ver os comentario em tempo real
    </p>
    </div> 
  {{else}}
    <h2>Nenhum comentário ainda =(</h2>
    <p>
      Se quiser ser o primeiro, acesse a publicação no <a href='{{print "https://www.tabnews.com.br/" .Params.tabnews}}'>tabnews</a>!
    </p>
  {{end}}
  
{{end}}

