<div style="padding-left:{{.camada}}em">
  <span style="border: 2px solid var(--darkMaincolor);
  display: inline-block;
  border-radius: 0.5em;
  padding: .2em;
  margin-top: 1em">{{.owner_username}}</span>
  <div>
  {{.body | markdownify}}
  {{if .children}}
    {{$novaCamada := dict "camada" (add 2 .camada)}}
    {{range $comentario := .children}}
      {{$novoBody := merge $comentario $novaCamada }}
      {{- partial "umComentario.html" $novoBody -}}
    {{end}}
  {{end}}
</div>
</div>
