<!DOCTYPE html>
<html>
    {{- partial "header.html" . -}}
    <body>
        <div class="content">
        {{- partial "head.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "comentarios.html" . -}}
        {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
